# created by virtualenv automatically

# Virtual environments
.venv/

# PyCharm project settings
.idea/

# Python bytecode
__pycache__/
*.py[cod]
*.so

# Environment files
.env

# Logs and OS-specific files
*.log
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled C extensions
*.egg-info/
build/
dist/

# Docker-related
*.pid
*.db
*.sqlite3

# Backup files
*.bak
*~

# Temporary files
*.swp
*.tmp

# Image tools / cache
.cache/
